@using MultiUserMVC.Areas.Identity.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">

        <p>You are now logged in and you may brows stocks using the Stock List Link above!</p>
    </div>
}
else
{
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Create an account and login to view current and past stock data.</p>
</div>

}


